/* CSS for inSSIDer 2 */ 

body  { background-color: #000; color: #bbb; font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; margin-top: 5px; margin-bottom: 5px; border: none; }

.page  { width: 725px; margin-left: auto; margin-right: auto; }

p  { font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; font-size: 90%; margin: 15px auto 15px auto; letter-spacing: 0.7px; }

a:link  {color: #ff8933; text-decoration: none; } 

a:visited  { color: #ff8933; text-decoration: none; } 

a:hover  { color: #24aae7; text-decoration: none; }

img  { border-style: none; }

.navbar p  { color: #e6e6e6; text-align: center; font-size: 80%; margin-bottom: 10px; }

.navbar a:link  { color: gray; }

.navbar a:visited  { color: gray; }

.navbar a:hover  { color: #ff8933; }

h1  { color: #ffffff; font-size: 100%; font-weight: normal; margin: 10px auto 10px auto; letter-spacing: 0.7px; }

h2  { color: #ffffff; font-size: 90%; margin: 10px auto 10px auto; text-align: left; text-transform: uppercase; letter-spacing: 2px; }

h2 a:link  { color: #ff8933; }

h2 a:visited  { color: #ff8933; }

h2 a:hover  { color: #ff8933; }

ul  { margin-top: 5px; }

li  { margin-top: 10px; }

.downlearn div  { margin-top: 10px; float: left; padding-left: 25px; }

.downlearn a img  { border: none; }

.description  { height: 230px; margin-bottom: 5px; margin-left: 20px; overflow: hidden; } 

.description .left  { float: left; margin-right: 20px; } 

.description ul  { list-style: None; }

.items h1  { border: 1px #555 solid; border-width: 1px /*0 0 1px*/; padding: 4px 0 4px 7px; background-color: #323232; margin-top: .5em; vertical-align: middle; }
  
.post-description  { font-size: 80%; letter-spacing: 0.4px; margin-left: 20px; margin-bottom: 20px; }

img.arrows  { margin-left: 20px; margin-right: 20px; }

