/* CSS Document */ 
body  
{
    background-color: #000; 
    color: #bbb; 
    font-family: "tahoma","sans-serif"; 
    margin-top: 5px; 
    margin-bottom: 0px; 
}

.page { width:725px; margin-left:auto; margin-right:auto; }

a:link {color: #2CB22C; } a:visited { color: #bbb; } a:hover { color: #e6e6e6}

img { border-style: none; }

.navbar p { color: #e6e6e6; text-align:center; font-size:80%; margin-bottom: 
10px; }

.navbar a:link { color: gray; }

.navbar a:visited { color: gray; }

.navbar a:hover { color: #F02801; }

h2 { margin: 5px auto 5px auto; text-align:center; }

h2 a:link { color: #e6e6e6; }

h2 a:visited { color: #e6e6e6; }

h2 a:hover { color: #F02801; }

ul { margin-top: 5px; }

p { margin: 6px auto 0px auto; }

.downlearn div { margin-top: 10px; float:left; padding-left:25px; }

.downlearn a img { border: none; }

.description  
{
    height:230px; 
    margin-bottom:5px; 
    margin-left:20px; 
    overflow:hidden; 
    font-size:0.875em;
    } 

.description .left  
{
    float:left; 
    margin-right: 20px; 
} 

.description ul { list-style:None; }

#products { width: 625px; margin-left: auto; margin-right: auto; }

#products div { float:left; width:125px; text-align:center; height:132px; }

#products a img { border: solid #808080 2px; } 
#products a.current img { border: solid #F02801 2px; } 
#products a:hover img { border: solid #e6e6e6 2px; }


img.arrows { margin-left: 20px; margin-right: 20px;}

