<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="inSSIDer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="MetaScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<inSSIDer.Properties.Settings>
			<setting name="gpsSerialPort" serializeAs="String">
				<value/>
			</setting>
			<setting name="gpsParity" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="gpsHandshake" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="gpsStopBits" serializeAs="String">
				<value>One</value>
			</setting>
			<setting name="gpsDataBits" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="gpsBaud" serializeAs="String">
				<value>4800</value>
			</setting>
			<setting name="gpsEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="formLocation" serializeAs="String">
				<value>-1, -1</value>
			</setting>
			<setting name="formSize" serializeAs="String">
				<value>1024, 600</value>
			</setting>
			<setting name="formWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="gridOrder" serializeAs="String">
				<value/>
			</setting>
			<setting name="lastFilters" serializeAs="String">
				<value/>
			</setting>
			<setting name="VersionNextUpdateCheck" serializeAs="String">
				<value>2010-08-01</value>
			</setting>
			<setting name="VersionIgnoreThisVersion" serializeAs="String">
				<value>0.0.0.0</value>
			</setting>
			<setting name="VersionDaysBetweenUpdateReminders" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="AnalyticsMedium" serializeAs="String">
				<value>inssider2</value>
			</setting>
			<setting name="lastMini" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="miniSize" serializeAs="String">
				<value>-1, -1</value>
			</setting>
			<setting name="miniLocation" serializeAs="String">
				<value>536, 300</value>
			</setting>
			<setting name="miniWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="miniGridOrder" serializeAs="String">
				<value/>
			</setting>
			<setting name="formTabIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="settingsTest" serializeAs="String">
				<value>OK</value>
			</setting>
			<setting name="gpxLastOutputDir" serializeAs="String">
				<value/>
			</setting>
			<setting name="gpxLastGpsLockedup" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastGpsFixLost" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastMinimumStas" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="gpxLastMinimumSatsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastMaxSpeed" serializeAs="String">
				<value>70</value>
			</setting>
			<setting name="gpxLastMaxSpeedEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="gpxLastMaxRssi" serializeAs="String">
				<value>-20</value>
			</setting>
			<setting name="gpxLastMaxRssiEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastRssiLabels" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="gpxLastOrganizeEThenC" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastSummary" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="gpxLastEachAp" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="gpxLastComprehensive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="scanLastInterfaceId" serializeAs="String">
				<value>00000000-0000-0000-0000-000000000000</value>
			</setting>
			<setting name="scanLastEnabled" serializeAs="String">
				<value>True</value>
			</setting>
		</inSSIDer.Properties.Settings>
		<MetaScanner.Properties.Settings>
			<setting name="gpsSerialPort" serializeAs="String">
				<value/>
			</setting>
			<setting name="gpsParity" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="gpsHandshake" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="gpsStopBits" serializeAs="String">
				<value>One</value>
			</setting>
			<setting name="gpsDataBits" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="gpsBaud" serializeAs="String">
				<value>4800</value>
			</setting>
			<setting name="gpsEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="frmLocation" serializeAs="String">
				<value>-1, -1</value>
			</setting>
			<setting name="frmSize" serializeAs="String">
				<value>1024, 600</value>
			</setting>
			<setting name="frmWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
		</MetaScanner.Properties.Settings>
	</userSettings>
	<startup/></configuration>
